body {
    padding: 0;
    margin: 0;
    background: black;
    color: white;
    height: 100vh;
    width: 100vw;
}

.grid {
    display: grid;
    grid-gap: 10px;
    width: 750px;
    margin: 20px auto;
}
.header {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.guess {
    padding: 10px;
    text-align: center;
}
.no-match {
    background-color: red;
}
.partial-match {
    background-color: orange;
}
.full-match {
    background-color: green;
}

#input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.guess-expansion, .guess-tags, .guess-type {
    text-transform: capitalize;
}

.countdown {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
}
.countdown__time {
    font-size: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tag {
    display: inline-block;
    width: 36px;
    height: 36px;
    overflow: hidden;
    text-indent: -999em;
    border-radius: 50%;
    background-size: 100% 100%;
}

.tag-animal {
    background-image: url('./assets/tags/animal.png');
}
.tag-building {
    background-image: url('./assets/tags/building.png');
}
.tag-city {
    background-image: url('./assets/tags/city.png');
}
.tag-earth {
    background-image: url('./assets/tags/earth.png');
}
.tag-event {
    background-image: url('./assets/tags/event.png');
}
.tag-jovian {
    background-image: url('./assets/tags/jovian.png');
}
.tag-microbe {
    background-image: url('./assets/tags/microbe.png');
}
.tag-plant {
    background-image: url('./assets/tags/plant.png');
}
.tag-power {
    background-image: url('./assets/tags/power.png');
}
.tag-science {
    background-image: url('./assets/tags/science.png');
}
.tag-space {
    background-image: url('./assets/tags/space.png');
}
.tag-venus {
    background-image: url('./assets/tags/venus.png');
}
.tag-wild {
    background-image: url('./assets/tags/wild.png');
}

.expansion {
    display: inline-block;
    width: 36px;
    height: 36px;
    overflow: hidden;
    text-indent: -999em;
    border-radius: 50%;
    background-size: 100% 100%;
}

.expansion-colonies {
    background-image: url('./assets/expansions/colonies.png');
}
.expansion-corporate {
    background-image: url('./assets/expansions/corporate.png');
}
.expansion-prelude {
    background-image: url('./assets/expansions/prelude.png');
}
.expansion-promo {
    background-image: url('./assets/expansions/promo.png');
}
.expansion-turmoil {
    background-image: url('./assets/expansions/turmoil.png');
}
.expansion-venus-next {
    background-image: url('./assets/expansions/venus-next.png');
}
.expansion-base {
    display: none;
}
